# Виртуальное окружение
.venv/
.fraud/ # Если твое окружение называется так

# Пайпкеш и байткод
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Редактор
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Тесты и документация (если не нужны в образе)
tests/
docs/
notebooks/
*.ipynb
.ipynb_checkpoints

# Данные ОС
.DS_Store
Thumbs.db

# Docker и Git
Dockerfile
.dockerignore
.git/
.gitignore

# Другое (например, большие файлы данных, если они не нужны в образе)
# data/*.csv # Раскомментируй, если данные не нужны в образе, но тогда app.py не сможет их грузить